In [59]:
import pandas as pd
from pathlib import Path
%matplotlib inline

In [60]:
csvpath = Path(r"budget_data.csv")

In [83]:
sales_dataframe = pd.read_csv(csvpath)
print(type(sales_dataframe))

sales_dataframe.shape[0]

# sales_dataframe.head(10)

<class 'pandas.core.frame.DataFrame'>

86

In [71]:
sales_dataframe.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [72]:
sales_dataframe.count

<bound method DataFrame.count of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [73]:
sales_dataframe.isnull

<bound method DataFrame.isnull of         Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]>

In [74]:
sales_dataframe.isnull().mean() * 100

Date             0.0
Profit/Losses    0.0
dtype: float64

In [75]:
sales_dataframe.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
81    False
82    False
83    False
84    False
85    False
Length: 86, dtype: bool

In [76]:
sales_dataframe.describe(include='all')

            Date  Profit/Losses
count         86   8.600000e+01
unique        86            NaN
top     May-2015            NaN
freq           1            NaN
mean         NaN   4.463090e+05
std          NaN   5.363579e+05
min          NaN  -1.196225e+06
25%          NaN   1.821620e+05
50%          NaN   5.703280e+05
75%          NaN   7.952262e+05
max          NaN   1.170593e+06

In [84]:
sales_dataframe['Profit/Losses'].sum()

38382578

In [85]:
sales_dataframe.head(100)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [105]:
total = 0
lastRow = None
maxChange = 0
minChange = 0
for index, row in sales_dataframe.iterrows():
    if (lastRow is not None):
        change = row['Profit/Losses'] - lastRow['Profit/Losses']
        if (change > maxChange):
            maxChange = change
        if (change < minChange):
            minChange = change
        total+= change        
    lastRow = row
print(maxChange)
print(minChange)
total/(sales_dataframe.shape[0] - 1)


#print(row['Profit/Losses'], row['Date'])

1926159
-2196167

-2315.1176470588234